/*App*/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
  margin-bottom: 30px;
}

.App-title {
  font-size: 8em;
  position: relative;
}

.App-intro {
  font-size: large;
}

.Keepers {
  margin-top: 40px;
}
.Keeper-header{
  font-weight: bold;
}

.button-1, .button-2, .button-3, .button-4 {
  display: inline-block;
  padding: 20px;
  background-color: #33FF77 ;
  margin: 20px;
  font-size: 15px;
  font-weight: bold;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*Keeper Component*/

.motelRoom {
    margin-top: 20px;
}
.motelRoomClean{
  background-color: #33FF77;
  display: inline-block;
  padding: 50px;
}

.motelRoomDirty {
  background-color:  #FF0000;
  display: inline-block;
  padding: 50px;
}

/*Supplies Component*/
.largeButton {
  font-size: 20px;
  background-color:  #FF0000;
}

.smallButton {
  font-size: inherit;
}
