.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.button-1, .button-2, .button-3, .button-4 {
  display: inline-block;
  padding: 20px;
  background-color: green;
  margin: 20px;
  font-size: 15px;
  font-weight: bold;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.HotelRoom-101,.HotelRoom-102,.HotelRoom-103,.HotelRoom-104, .HotelRoom-201,.HotelRoom-202,.HotelRoom-203,.HotelRoom-204 {
  display: inline-block;
  padding: 50px;
  background-color: red;
}
